@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
  //border: solid 1px black;
  font-family: 'Yusei Magic', sans-serif;
}
/* .navbar-nav {
  margin-left: 30px;
} */
.container {
  padding-top: 80px;
}
.Banana{
  padding-top: 50px;
}
section{
  padding-top: 80px;
}
section#s1{
  background-color:#c1d1e0;
}
section#s2{
  background-color:#f7f5df;
}
section#s3{
  background-color:#c1d1e0;
  padding-bottom:200px
}
section#s4{
  background-color:#f7f5df;
}

.toTop-arrow {
	width: 3rem;
	height: 3rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 25px;
	height: 6px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.42rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.42rem;
}
.toTop-arrow:focus {outline: none;}